{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Detex Tools</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    {% include 'main/partials/_libaries.html'%}
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    {% include 'main/partials/_navbar.html'%}
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container px-5 mb-0">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="box-shadow: 2px 2px 6px #000;background:#CCC">
                    <img class="w-100" src="{% static 'img/arkaplan.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10 text-start">
                                    <p class="fs-5 fw-medium text-primary text-uppercase animated slideInRight">25 Yıllık Deneyim</p>
                                    <h1 class="display-6 text-white mb-5 animated slideInRight">Detex Original Carbide Tools</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row gx-3 h-100">
                        <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/about-1.jpg' %}">
                        </div>
                        <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/about-2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="fw-medium text-uppercase text-primary mb-2">Hakkımızda</p>
                    <h1 class="display-5 mb-4">Detex Kesici Takımlar olarak vizyonumuz</h1>
                    <p class="mb-4">Yaşanabilir bir dünya hayaliyle, Türkiye çapındaki talaşlı imalatçıların mevcut ve gelişen beklentilerine hem geleneksel yöntemlerle hem de dijital olarak cevap verecek şekilde yapılanmaktır.</p>
                    <p class="mb-4">90'lar mezunu mühendislerimizi 2000'li yıllarda doğan genç ekibimizle harmanlayıp rafine tecrübeyi genç enerjiyle Türk Sanayine sunmaya kararlıyız.</p>
                    <p class="mb-4">DETEX olarak birincil ödevimiz bizden ürün ve/veya danışmanlık alan müşterilerimize Fayda-Maliyet analizlerini, em büyük sermayemiz olan zamandan tasarrufu vaad ediyoruz. . Finansal tasarruf, Enerji tasarrufu, direkt ve endirekt işçilik tasarrufu gezegenimizi tehdit eden Karbon salınımımı minimuma indirerek daha yaşanabilir bir gelecek inşasına katkıda bulunmak en değerli amaçlarımızdan biridir.</p>
                    <p class="mb-4">Bu felsefeyi hayata geçirme adına kendimizden başlayarak sürekli iş süreçlerimizi daha verimli hale getirmek için çaba sarf ederken, müşterilerimizin satın alma karar mekanizmalarına elimizden geldiği kadar Birim Maliyeti kavramını (hesaplamalarını) uygulamalı olarak dahil etmeye çaba sarf ediyoruz. Böylelikle; ihtiyaç duydukları malzemeyi, çeşidini, adedini vs. verimliliklerine katkı sağlayacak şekilde birlikte tespit etmeye çalışırız.</p>
                    <div class="d-flex align-items-center mb-4">
                        <div class="flex-shrink-0 bg-primary p-4">
                            <h1 class="display-2">25</h1>
                            <h5 class="text-white">Yıllık</h5>
                            <h5 class="text-white">Deneyim</h5>
                        </div>
                        <div class="ms-4">
                            <p><i class="fa fa-check text-primary me-2"></i>Power & Energy</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Civil Engineering</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Chemical Engineering</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Mechanical Engineering</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-2"></i>Oil & Gas Engineering</p>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-envelope-open text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2">Mail Gönderin</p>
                                    <h5 class="mb-0">info@detex.com</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2">Bizi Arayın</p>
                                    <h5 class="mb-0">+0212 345 6789</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <br><br>
    <div class="wow fadeInUp" style="justify-content: center; align-items: center; text-align: center; margin-top: 30px;" data-wow-delay="0.5s"><h1 class="heading" style="color: #004e90;;">Ürünlerimiz</h1></div><br><br>
    <br><br>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-3" style="justify-content: center;">
                {% for products in product  %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                                <img class="img-fluid" src="{{ products.photo.url }}" alt="">
                                <div class="team-social">
                                    <a class="btn btn-square" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                            </div>
                            <div class="bg-secondary text-center p-4">
                                <p style="color:black; font-style: italic;">{{ products.category.all|join:',' }}</p>
                                <h5 >{{ products.product_name }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Facts Start -->
    <div class="container-fluid facts my-5 p-5">
        <div class="row g-5">
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center border p-5">
                    <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">25</h1>
                    <span class="fs-5 fw-semi-bold text-white">Yıllık Deneyim</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center border p-5">
                    <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">135</h1>
                    <span class="fs-5 fw-semi-bold text-white">Takım Arkadaşı</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center border p-5">
                    <i class="fa fa-users fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">957</h1>
                    <span class="fs-5 fw-semi-bold text-white">Mutlu Müşteri</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="text-center border p-5">
                    <i class="fa fa-check-double fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">1839</h1>
                    <span class="fs-5 fw-semi-bold text-white">Bitirilmiş Proje</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Footer Start -->
    {% include 'main/partials/_footer.html' %}
    <!-- Footer End -->
    

</body>

</html>