<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>Ürünlerimiz</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    
        {% include 'main/partials/_libaries.html' %}
    </head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    {% include 'main/partials/_navbar.html' %}
    <!-- Navbar End -->
    <br><br>
    <div class="wow fadeInUp" style="justify-content: center; align-items: center; text-align: center; margin-top: 30px;" data-wow-delay="0.5s"><h1 class="heading" style="color: #004e90;;">Ürünlerimiz</h1></div><br><br>
    <br><br>
    <!-- Products Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-3" style="justify-content: center;">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    {% for product in product  %}
                    <div class="team-item">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid" src="" alt="">
                            <div class="team-social">
                                <a class="btn btn-square" href=""><i class="bi bi-info-circle-fill"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary text-center p-4">
                            <p style="color:black; font-style: italic;">{{ products.category.all|join:',' }}</p>
                            <h5 >{{ products.product_name }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->

    <!-- Footer Start -->
    {% include 'main/partials/_footer.html' %}
    <!-- Footer End -->
</body>
</html>